body{
    background-color:rgb(151, 188, 226) ;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    font-family: sans-serif;
    color:black;
    height: 100vh;
    width: 100%;
    /*background-image: url(image.jpg/image.png);
    background-size: 8%;
    background-position: center;*/
}
nav{
    display:flex ;
    align-items: center;
    justify-self: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    position:fixed ;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
}
nav ul li a:hover{
    color: brown;
    transition: 2.5sec;
}
.content{
    position: absolute;
    left: 8%;
    top: 25%;
    color:black;
}
.about{
    background-color:blanchedalmond;
    width: 100%;
    padding: 100px 0px;
}
.main{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.about-text{
    font-size: 10px;

}
.about-text h2{
    font-size: 40px;
    margin-bottom:20px ;
}
.about-text h3{
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.about-text p{
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 40px;
    color: red;
}
button{
    background-color: blueviolet;
    color: aliceblue;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 15px;
    border-radius: 20px;
}
img{
    max-width: 500px;
}
.skills{
    background-color: black;
    text-align: center;
    height: 50vh;
    width: 100%;
    display: grid; 
    place-items: center;   
    position: relative;
}
.container{
    display: flex;
    animation: scroll 40s linear infinite;
    gap:50px;
}
.skills h1{
    color: white;
}
.container{
    color: white;
    text-transform: capitalize;
}
.card{
    border-radius: 30px;
    min-height: 200px;
    min-width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card:nth-child(odd){
    background: linear-gradient(-220deg,rgb(122, 122, 223),rgb(225, 131, 131));
}
.card:nth-child(even){
    background: linear-gradient(-210deg,rgb(227, 124, 227),grey);
}
.box{
    height: 100vh;
    background-color: black;
    display: flex;
}
/*.test{
    min-height: 400px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;*/
.box h1{
    color: rgb(222, 17, 17);
    text-align: center;
    display: flex;
}
.testimonial{
    display: flex;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 213, 25);
}
.test{
    height: 360px;
    width: 360px;
    padding: 20px 30px;
    background-color: blanchedalmond;
    margin: 15px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.contact{
    color: rgb(8, 8, 8);
    background-color: black;
    height: 70vh;
    width: 100%;
}
.contact-box{
    display: flex;
    background: rgb(90, 186, 39);
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: rgb(163, 163, 196);
}
.contact h1{
    margin-bottom: 10px;
    text-align: center;
}
.contact-left input{
    color: blanchedalmond;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
.input{
    width: 100%;
    border: none;
    border-bottom: 1px solid orange;
}
textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid white;
    color: blueviolet;
}
label{
    margin-bottom: 5px;
    display: block;
    color: aqua;
}
tr td:first-child{
    padding-right: 20px;
    padding-bottom: 5PX;
    
}